[user]
	name = rynkjm
	email = rynkjm@gmail.com
[color]
	ui = auto
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
[alias]
	unstage = reset -q HEAD --
	discard = checkout --
	uncommit = reset --mixed HEAD~
	save = commit -m
	resave = commit -amend
	summary = status -u -s
	move = mv
	remove = rm
	new-branch = checkout -b
	rename-branch = branch -m
	delete-branch = branch -D
	branches = branch -a
	constract = !git fetch --all -p && git branch -a -vv
	tags = tag
	stashes = stash list
	amend = commit --amend --no-edit
	st = status -s
	precommit = diff --cached --diff-algorithm=minimal -w
	remotes = remote -v
	co = checkout
	unmerged = diff --name-only --diff-filter=U
	today = log --oneline --since='12 hour ago'
	gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  	lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[core]
	excludesfile = /Users/rynkjm/.gitignore_global
